---

---

<div class="pb-10 flex flex-col w-full gap-8 h-fit items-center bg-gray-200">
  <h3
    class="tracking-widest pt-4
 text-2xl font-semibold text-gray-800 uppercase"
  >
    <span class="text-4xl text-amber-400"> ··· </span>Incubadora <span class="font-bold">Webeo</span>
    <span class="text-4xl text-amber-400"> ··· </span>
  </h3>
  <div class="flex flex-col xl:flex-row gap-6">
    <div>Idea</div>
    <div>Diseño</div>
    <div>Desarrollo</div>
    <div>Lanzamiento</div>
  </div>
</div>
